@import url('https://fonts.googleapis.com/css?family=Comfortaa');

#pageTitle {
	font-family: "Comfortaa", Helvetica, sans-serif;
	color:#EFEEFF;
	text-align: center;
	padding-top: 1%;
	font-size: 40px;
}

.linkBar > div > a , p {
	color:#EFEEFF;
	font-family: "Comfortaa", Helvetica, sans-serif;
	text-align: center;
}

.linkBar > div {
	padding-top: 10px;
	padding-bottom: 10px;
}

#currentPage {
	background-color: #494947;
}

#currentPage > a {
	color:#EFEEFF;
	font-family: "Comfortaa", Helvetica, sans-serif;
	text-align: center;
}

body {
	background-image: url("backgroundImage.jpg");
	font-family: "Comfortaa", Helvetica, sans-serif;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 3;
	padding: 2%;
}

.menu {
	grid-row: 1;
	grid-column: span 12;
	background-color:#999;
}

.linkBar {
	padding: 5px;
	grid-gap: 5px;
	margin-top: auto;
	margin-bottom: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
	
.content {
	grid-row: 2;
	grid-column: span 12;
	background-color:#666;
	padding: 2%;
}

.centredVideo {
    display: block;
    width: 100%;
	height: auto;
}

#restartButton, #chapterSelectButton, #playPauseButton, #fullscreenButton, #muteUnmuteButton{
	width: 200px;
	height: 50px;
	font-size: 20px;
	margin: 1em;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	font-family: "Comfortaa", Helvetica, sans-serif;
}

#playPauseButton {
	background-color: #999;
}

.overlay {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: rgba(0,0,0, 0.8);
		  overflow-x: hidden;
		  transition: 0.5s;
		}
		
		.overlayContent {
		  position: relative;
		  top: 25%;
		  width: 100%;
		  text-align: center;
		  margin-top: 30px;
		}
		
		.overlay a {
		  padding: 8px;
		  text-decoration: none;
		  font-size: 36px;
		  color: #818181;
		  display: block;
		  transition: 0.3s;
		}
		
		.overlay a:hover, .overlay a:focus {
		  color: #f1f1f1;
		}
		
		.overlay .closeButton {
		  position: absolute;
		  top: 20px;
		  right: 45px;
		  font-size: 60px;
		}
		
		@media screen and (max-height: 450px) {
		  .overlay a {font-size: 20px}
		  .overlay .closeButton {
		  font-size: 40px;
		  top: 15px;
		  right: 35px;
		  }
		}
		
#myFullscreenVideo {
	width: 100%;
	height: auto;
}

.fullscreenOverlay {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  background-color: #666;
		  overflow-x: hidden;
		  transition: 0.5s;
		}
		
		.fullscreenOverlayContent {
		  width: 100%;
		  height: 100%;
		}
		
		.fullscreenOverlay a {
		  padding: 8px;
		  text-decoration: none;
		  font-size: 36px;
		  color: #818181;
		  display: block;
		  transition: 0.3s;
		}
		
		.fullscreenOverlay a:hover, .fullscreenOverlay a:focus {
		  color: #f1f1f1;
		}
		
		.fullscreenCloseButton {
		  position: absolute;
		  top: 21px;
		  right: 45px;
		  font-size: 60px;
		}
		
		#fullscreenPlayPauseButton {
		  position: absolute;
		  top: 20px;
		  right: 80px;
		  font-size: 40px;
		}
		
		@media screen and (max-height: 450px) {
		  .overlay a {font-size: 20px}
		  .overlay .closeButton {
		  font-size: 40px;
		  top: 15px;
		  right: 35px;
		  }
		}



.linkBarButton, button {
	transition: transform 1s;
}

.linkBarButton:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

button:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

@media screen and (max-width: 750px) {
	
	.linkBar {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 2;
	}
    
    .menu {
        grid-column: span 12;
    }
    
    .content {
        grid-column: span 12;
    }
	
	.wrapper {
		grid-template-rows: 100px 1fr 1fr;
	}
	
}
